*{
    padding: 0;
    margin: 0;
    font-family: Arial, SansSerif, sans-serif;
    font-size: 110%;
}

p{
    padding: 0.5em;
}
form{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    border:0.2em solid #000;


}
form *{
    box-sizing: border-box;
    width: 90%;
    margin:  0.2em 0;
    text-align: center;
}
/*#signupform{*/
    /*display: block;*/
/*}*/
/*#signupform:target {*/
    /*display: block;*/
/*}*/

/*#signupform{*/
    /*text-align: center;*/
    /*position: inherit;*/
    /*width: 100%;*/
    /*background-color: #222;*/
    /*color: #FFFFFF;*/


/*}*/

/*#signupform input{*/
    /*display: block;*/
    /*width: 90%;*/
    /*box-sizing: border-box;*/
    /*left: auto;*/
    /*right: auto;*/
    /*text-align: center;*/
    /*padding: 1em;*/
    /*margin: 1em 5%;*/
/*}*/
