*{
    padding: 0;
    margin: 0;
    font-family: Arial, SansSerif, sans-serif;
    font-size: 110%;
}

p{
    padding: 0.5em;
}
h1{
    font-size: 250%;
    margin: 0.2em;
    border-bottom: 0.2em solid #000000;
    display: inline;

}
header{
    border-bottom: 0.2em solid #000000;
    margin-bottom: 0.7em;
}
/*header {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: flex-end;*/
    /*flex-flow: row;*/
/*}*/
/*form{*/
    /*box-sizing: border-box;*/
    /*display: inline-flex;*/
    /*flex-flow: wrap;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*border:0.2em solid #000;*/
    /*margin: 0.2em;*/


/*}*/
/*form *{*/

    /*box-sizing: border-box;*/
    /*flex-wrap: nowrap;*/
    /*width: 20%;*/
    /*margin:  0.2em 0;*/
    /*text-align: center;*/
/*}*/
/*#signupform{*/
    /*display: block;*/
/*}*/
/*#signupform:target {*/
    /*display: block;*/
/*}*/

/*#signupform{*/
    /*text-align: center;*/
    /*position: inherit;*/
    /*width: 100%;*/
    /*background-color: #222;*/
    /*color: #FFFFFF;*/


/*}*/

/*#signupform input{*/
    /*display: block;*/
    /*width: 90%;*/
    /*box-sizing: border-box;*/
    /*left: auto;*/
    /*right: auto;*/
    /*text-align: center;*/
    /*padding: 1em;*/
    /*margin: 1em 5%;*/
/*}*/
